@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white : hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
--slate-500: hsl(216, 15%, 48%);
--slate-900: hsl(218, 44%, 22%);
}
body{
    background: var(--slate-300);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: "Outfit", system-ui;
}
.card{
    width: 170px;
    height: 265px;
    padding: 10px;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}
.card .card_qr{
    width:100%;
   height: 150px;
}
.card .card_qr img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card h2{
    font-size: 13px;
    padding: 10px 0;
    color: var(--slate-900);
    text-align: center;
}
.card p{
    font-size: 10px;
    text-align: center;
    color: var(--slate-500);
}